html,
body {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #fff;
    overflow: hidden;
    @media (min-width: 768px) {
        overflow-y: hidden;
    }
}

.background-blue {
    background: $blue;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

p {
    font-size: 14px;
}

p.large-copy {
    font-size: 16px;
}

p.copy {
    font-size: 14px;
}

caption {
    font-size: 12px;
}

@mixin text-link--large {
    font-size: 16px;
}

.text-link--small {
    font-size: 14px;
}

label,
.label {
    font-size: 16px;
    font-weight: 600;
}

.wrapper .container {
    border-radius: 6px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40 rgba(0, 0, 0, 0.06) inset;
    @media (min-width: 1400px) {
        margin: 50px auto;
    }
}

.blue {
    color: $blue;
}